<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iwxyi.letsremember">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Globals.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TypeinActivity" />
        <activity android:name=".Users.LoginActivity" />
        <activity
            android:name=".Users.PersonActivity"
            android:label="@string/title_activity_person"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Users.RegisterActivity" />
        <activity
            android:name=".Users.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Material.MaterialSelectActivity"
            android:label="@string/title_activity_material_select"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Rank.RankActivity"
            android:label="@string/title_activity_rank"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Boxs.BoxsActivity"
            android:label="@string/title_activity_boxs"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>